/* styles.css */

/* Задаем цвет фона и заголовков */
body {
    background-color: #FFFFF0;
    color: #000000; /* Цвет текста по умолчанию */
}

h1 {
    color: #2e86de; /* Цвет заголовков h1 */
}

h2 {
    color: #fa8231; /* Цвет заголовков h2 */
}

h3 {
    color: #6ab04c; /* Цвет заголовков h3 */
}

/* ... и так далее для других заголовков */

/* ... можно добавить стили для других элементов страницы */
p {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 40px;
}